@font-face {
  font-family: "Noto Serif"; font-weight: normal; font-style: normal;
  src: url("../fonts/NotoSerif-Regular.otf");
}

@font-face {
  font-family: "Noto Serif"; font-weight: bold; font-style: normal;
  src: url("../fonts/NotoSerif-Bold.otf");

}

@font-face {
  font-family: "Noto Serif"; font-weight: normal; font-style: italic;
  src: url("../fonts/NotoSerif-Italic.otf");

}

@font-face {
  font-family: "Noto Mono"; font-weight: normal; font-style: normal;
  src: url("../fonts/NotoSansMono-Regular.otf");

}

@font-face {
  font-family: "Noto Mono"; font-weight: bold; font-style: normal;
  src: url("../fonts/NotoSansMono-Bold.otf");
}

:root {
  --md-text-font: "Noto Serif";
  --md-code-font: "Noto Mono";
}

