/**
 * Example information
 */

.md-typeset .author {
    text-align: right;
}

/**
 * Tag filters
 */
.md-typeset .filters {
    background-color: lightgray;
}

.md-typeset .tagcheck {
    display: none;
}

.md-typeset .taglabel {
    background: var(--md-primary-fg-color);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: .64rem;
}

.md-typeset .taglist {
    float:right;
    padding-left:1em;
}

.md-typeset input:not(:checked) + .taglabel {
    background: #909090;
}

/** First row: Materials version and integration **/

#public:not(:checked) ~ .example[data-tags~="public"]{
    display:none;
}

#insiders:not(:checked) ~ .example[data-tags~="insiders"]{
    display:none;
}

#integration:not(:checked) ~ .example[data-tags~="integration"]{
    display:none;
}

/** Second row: functionality */

#colors:not(:checked) ~ .example[data-tags~="colors"]{
    display:none;
}

#fonts:not(:checked) ~ .example[data-tags~="fonts"]{
    display:none;
}

#icons:not(:checked) ~ .example[data-tags~="icons"]{
    display:none;
}

#page_status:not(:checked) ~ .example[data-tags~="page_status"]{
    display:none;
}

/** Third row: plugin */

#blog:not(:checked) ~ .example[data-tags~="blog"]{
    display:none;
}

#group:not(:checked) ~ .example[data-tags~="group"]{
    display:none;
}

#info:not(:checked) ~ .example[data-tags~="info"]{
    display:none;
}

#meta:not(:checked) ~ .example[data-tags~="meta"]{
    display:none;
}

#offline:not(:checked) ~ .example[data-tags~="offline"]{
    display:none;
}

#optimize:not(:checked) ~ .example[data-tags~="optimize"]{
    display:none;
}

#privacy:not(:checked) ~ .example[data-tags~="privacy"]{
    display:none;
}

#projects:not(:checked) ~ .example[data-tags~="projects"]{
    display:none;
}

#search:not(:checked) ~ .example[data-tags~="search"]{
    display:none;
}

#social:not(:checked) ~ .example[data-tags~="social"]{
    display:none;
}

#tags:not(:checked) ~ .example[data-tags~="tags"] {
    display: none;
}

#typeset:not(:checked) ~ .example[data-tags~="typeset"] {
    display: none;
}
